
  <article class="project_details">
    <header>
      <h1 class="m-header" id="title">SuperString <small>extends: <a href="SuperObject.html">SuperObject</a></small></h1>
      <small class="declared-at">Declared at <a href="./example/app/docs/SuperString.html#line-108">example/app/string_utils.js#108</a></small>
      <small class="dependencies">Dependencies: <a href="SuperObject.html">SuperObject</a></small>  
    </header>

    <section id="description">
      <h1 class="m-subheader">Description</h1>
      <div class="m-text">
        <p>Extended string class</p>
      </div>
    </section>
  
  <section id="constructor">
    <h1 class="m-subheader">Constructor</h1>
    <pre class="code-example"><code class="javascript">function SuperString(string /*"Hello World!"*/)</code></pre>
    
    <h2 class="m-subheader mtlh" id="arguments">Arguments</h2>
    <ul class="argument-list">
    <li data-collapsable>
      <div class="argument-details">
        <h3 id="constructor-argument-string" class="name" data-toggle>string</h3>
        <dl>
          <dt class="type">Argument type</dt>
          <dd>String</dd>
          
          <dt class="default">default</dt>
          <dd>"Hello World!"</dd>
        </dl>
      </div>
      
      <div class="argument-description" data-description>
        <div class="m-text">
          <p>Regular String</p>
        </div>
      </div>
    </li>
    <li data-collapsable>
      <div class="argument-details">
        <h3 id="to_json-argument-string" class="name" data-toggle>string</h3>
        <dl>
          <dt class="type">Argument type</dt>
          <dd>Boolean</dd>
          <dt class="property">Required</dt>
          <dd>true</dd>
          <dt class="default">default</dt>
          <dd>false</dd>
        </dl>
      </div>
      
      <div class="argument-description" data-description>
        <div class="m-text">
          <p>Return Object (false) or string (true)</p>
        </div>
      </div>
    </li>
    </ul>
    
  </section>
  
  <section id="methods">
    <h1 class="m-subheader">Methods</h1>
    
        <article id="trim" class="m-method">
          <h2>trim</h2>
          <small class="declared-at">Declared at <a href="./example/app/docs/SuperString.html#line-123">example/app/string_utils.js#123</a></small>
          <pre class="code-example"><code class="javascript">function trim()</code></pre>
          
          
        </article>
    
        <article id="to_json" class="m-method">
          <h2>to_json</h2>
          <small class="declared-at">Declared at <a href="./example/app/docs/SuperString.html#line-132">example/app/string_utils.js#132</a></small>
          <pre class="code-example"><code class="javascript">function to_json(string /*false*/)</code></pre>
          <h3 class="m-subheader method-title">Returns</h3>
          <div class="m-text returns">
            <p>(Object) JSON representation of the string</p>
          </div>
          <h3 class="m-subheader method-title" id="to_json-arguments">Arguments</h3>
          <ul class="argument-list">
  <li data-collapsable>
    <div class="argument-details">
      <h3 id="to_json-argument-string" class="name" data-toggle>string</h3>
      <dl>
        <dt class="type">Argument type</dt>
        <dd>Boolean</dd>
        <dt class="property">Required</dt>
        <dd>true</dd>
        <dt class="default">default</dt>
        <dd>false</dd>
      </dl>
    </div>
    
    <div class="argument-description" data-description>
      <div class="m-text">
        <p>Return Object (false) or string (true)</p>
      </div>
    </div>
  </li>

  
</ul>
          
          
            <h3 class="m-subheader">Example</h3>
            <pre class="code-example"><code class="javascript">var str = new SuperString("Hello")
str.to_json(true) // "['Hello']"
str.to_json(false) // ["Hello"]
str.to_json() // ["Hello"]
</code></pre>
          
        </article>
    
  </section>