---
title: Index
---

<article class="project_details">
  <h2 class="m-header" id="title">SuperObject</h2>
  <h3 class="m-subheader" id="description">Description</h3>
  <div class="m-text">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip...</p>
  </div>
  <h3 class="m-subheader" id="arguments">Arguments</h3>
  <ul class="argument-list">
    <li data-collapsable>

      <div class="argument-details">
        <h4 id="argument-name" class="name" data-toggle>name</h4>
        <dl>
          <dt class="type">Argument type</dt>
          <dd>String</dd>
          <dt class="property">Required</dt>
          <dd>true</dd>
          <dt class="default">default</dt>
          <dd>wadus</dd>
        </dl>
      </div>

      <div class="argument-description" data-description>
        <div class="m-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip...</p>
        </div>
      </div>

      <pre class="code-example"><code class="javascript">
function trim(str){
  return str.replace(/^\s+|\s+$/g,'');
}
      </code></pre>

    </li> <!--[data-collapsable]-->
    <li data-collapsable>

      <div class="argument-details">
        <h4 id="argument-name" class="name" data-toggle>name</h4>
        <dl>
          <dt class="type">Argument type</dt>
          <dd>String</dd>
          <dt class="property">Required</dt>
          <dd>true</dd>
          <dt class="default">default</dt>
          <dd>wadus</dd>
        </dl>
      </div>

      <div class="argument-description" data-description>
        <div class="m-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip...</p>
        </div>
      </div>

      <pre class="code-example"><code>
function trim(str){
  return str.replace(/^\s+|\s+$/g,'');
}
      </code></pre>

    </li> <!--[data-collapsable]-->
  </ul>
</article>